<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Gonzalo Babé y Carlos Cano de Santayana.
</p>

<img src="/images/cano.jpg" />
<img src="/images/babe.png" />

<a href="https://github.com/gonbabe/prac51.git">URL practica51</a>

