
<h1>
    Ver pregunta:
</h1>

<ul>
    <li>Pregunta: <b><%= quiz.question %></b></li>	//texto de la pregunta
    <li>Respuesta: <b><%= quiz.answer %></b></li>	//texto de la respuesta
</ul>

<a href="/quizzes"><button>Volver</button></a>
